@model Helperland.Models.CustomModel
<div class="d-flex flex-row mb-3">
    <div class="profile-img">
        <img src="~/assets/cap.png" alt="">
    </div>
    <div class="details">
        <b>@Model.FirstName @Model.LastName</b>
        <div class="rate">
            @for (int i = 0; i < 5; i++)
            {
                if (i < ((int)Model.Ratings))
                {
                        <span><img src="~/assets/star1.png" id="@("v"+(@i+1))" class="ratesp" alt=""></span>
                }
                else
                {
                    <span><img src="~/assets/star2.png" id="@("v"+(@i+1))" class="ratesp" alt=""></span>
                }
            }
            <span id="rateavg">@Model.Ratings</span>
        </div>
    </div>
</div>
<div>
    <h5><b>Rate your service provider</b></h5>
</div>
<hr>
<div>
    <span>On time arrival</span>
    &nbsp;&nbsp;&nbsp;
   
        @for (int i = 0; i < 5; i++)
        {
            if (i < ((int)Model.OnTimeArrival))
            {
                <span><img src="~/assets/star1.png" id="@("s"+(@i+1))" class="ratesp" alt=""></span>
            }
            else
            {
                <span><img src="~/assets/star2.png" id="@("s"+(@i+1))" class="ratesp" alt=""></span>
            }
        }
 
</div>
<div>
    <span>Friendly</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
        @for (int i = 0; i < 5; i++)
        {
            if (i < ((int)Model.Friendly))
            {
                <span><img src="~/assets/star1.png" id="@("t"+(@i+1))" class="ratesp" alt=""></span>
            }
            else
            {
                <span><img src="~/assets/star2.png" id="@("t"+(@i+1))" class="ratesp" alt=""></span>
            }
        }
   
</div>
<div>
    <span>Quality of service</span>
   
        @for (int i = 0; i < 5; i++)
        {
            if (i < ((int)Model.QualityOfService))
            {
                <span><img src="~/assets/star1.png" id="@("p"+(@i+1))" class="ratesp" alt=""></span>
            }
            else
            {
                <span><img src="~/assets/star2.png" id="@("p"+(@i+1))" class="ratesp" alt=""></span>
            }
        }
</div>
<div class="form-row mt-3">
    <div class="form-group col-md-12">
        <label for="fbofsp" class="cm-dez">Feedback on service provider</label>
        <textarea class="form-control comment-in-ratesp" id="fbofsp" rows="3" placeholder="">@Model.Comments</textarea>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <button type="button" class="submit-btn" id="rateSP-submitbtn">Submit</button>
    </div>
</div>

<script>

    var s = @Model.OnTimeArrival , t = @Model.Friendly, p = @Model.QualityOfService;
   

        $(document).ready(function () {
            $(document).on("click","#s1",function () {
                $("#s1").attr('src', '/assets/star1.png');
                $("#s2,#s3,#s4,#s5").attr('src', '/assets/star2.png');
                s = 1;
            });
            $(document).on("click","#s2",function () {
                $("#s1,#s2").attr('src', '/assets/star1.png');
                $("#s3,#s4,#s5").attr('src', '/assets/star2.png');
                s = 2;
            });
            $(document).on("click","#s3",function () {
                $("#s1,#s2,#s3").attr('src', '/assets/star1.png');
                $("#s4,#s5").attr('src', '/assets/star2.png');
                s = 3;
            });
            $(document).on("click","#s4",function () {
                $("#s1,#s2,#s3,#s4").attr('src', '/assets/star1.png');
                $("#s5").attr('src', '/assets/star2.png');
                s = 4;
            });
            $(document).on("click","#s5",function () {
                $("#s1,#s2,#s3,#s4,#s5").attr('src', '/assets/star1.png');
                s = 5;
            });




            $(document).on("click","#t1",function () {
                $("#t1").attr('src', '/assets/star1.png');
                $("#t2,#t3,#t4,#t5").attr('src', '/assets/star2.png');
                t = 1;
            });
            $(document).on("click","#t2",function () {
                $("#t1,#t2").attr('src', '/assets/star1.png');
                $("#t3,#t4,#t5").attr('src', '/assets/star2.png');
                t = 2;
            });
            $(document).on("click","#t3",function () {
                $("#t1,#t2,#t3").attr('src', '/assets/star1.png');
                $("#t4,#t5").attr('src', '/assets/star2.png');
                t = 3;
            });
            $(document).on("click","#t4",function () {
                $("#t1,#t2,#t3,#t4").attr('src', '/assets/star1.png');
                $("#t5").attr('src', '/assets/star2.png');
                t = 4;
            });
            $(document).on("click","#t5",function () {
                $("#t1,#t2,#t3,#t4,#t5").attr('src', '/assets/star1.png');
                t = 5;
            });




            $(document).on("click","#p1",function () {
                $("#p1").attr('src', '/assets/star1.png');
                $("#p2,#p3,#p4,#p5").attr('src', '/assets/star2.png');
                p = 1;
            });
            $(document).on("click","#p2",function () {
                $("#p1,#p2").attr('src', '/assets/star1.png');
                $("#p3,#p4,#p5").attr('src', '/assets/star2.png');
                p = 2;
            });
            $(document).on("click","#p3",function () {
                $("#p1,#p2,#p3").attr('src', '/assets/star1.png');
                $("#p4,#p5").attr('src', '/assets/star2.png');
                p = 3;
            });
            $(document).on("click","#p4",function () {
                $("#p1,#p2,#p3,#p4").attr('src', '/assets/star1.png');
                $("#p5").attr('src', '/assets/star2.png');
                p = 4;
            });
            $(document).on("click","#p5",function () {
                $("#p1,#p2,#p3,#p4,#p5").attr('src', '/assets/star1.png');
                p = 5;
            });

            $(document).on('click',".ratesp", function () {
                var ratesp = (s + t + p) / 3;
                x = ratesp.toFixed(0);
                $("#rateavg").html(x);

                switch (x) {
                    case '0':
                        $("#v1,#v2,#v3,#v4,#v5").attr('src', '/assets/star2.png');
                        break;
                    case '1':
                        $("#v1").attr('src', '/assets/star1.png');
                        $("#v2,#v3,#v4,#v5").attr('src', '/assets/star2.png');
                        break;
                    case '2':
                        $("#v1,#v2").attr('src', '/assets/star1.png');
                        $("#v3,#v4,#v5").attr('src', '/assets/star2.png');
                        break;
                    case '3':
                        $("#v1,#v2,#v3").attr('src', '/assets/star1.png');
                        $("#v4,#v5").attr('src', '/assets/star2.png');
                        break;
                    case '4':
                        $("#v1,#v2,#v3,#v4").attr('src', '/assets/star1.png');
                        $("#v5").attr('src', '/assets/star2.png');
                        break;
                    case '5':
                        $("#v1,#v2,#v3,#v4,#v5").attr('src', '/assets/star1.png');
                        break;
                    default:
                        alert('Wohoo!');
                }

            })


        });

</script>