@model IEnumerable<Helperland.Models.CustomModel>
@{
    ViewData["Title"] = "CustomerServiceHistory";
}

@section Styles{
    <link href="~/css/servicehistory.css" rel="stylesheet" />
}

<partial name="~/Views/Shared/_PublicHeader.cshtml" />


<!-- Rate SP Modal -->
<div class="modal fade" id="RateSPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

<div class="welcome-tab text-center">
    <h1 class="greet align-middle">Welcome, <b>@HttpContextAccessor.HttpContext.Session.GetString("UserName_Session")!</b></h1>
</div>

<div class="wrapper container-fluid">
    <aside>
        <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link sidebar-only navlink-dashboard" id="dashboard-tab" asp-action="CustomerDashboard"
                   role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link sidebar-only navlink-servicehistory active" id="servicehistory-tab"
                   role="tab" aria-controls="servicehistory"
                   aria-selected="true">
                    Service
                    History
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link sidebar-only navlink-serviceschedule" id="serviceschedule-tab"
                   role="tab" aria-controls="serviceschedule" aria-selected="false">
                    Service
                    Schedule
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link sidebar-only navlink-favpros" id="favpros-tab" asp-action="CustomerFavouritePros"
                   role="tab" aria-controls="favpros" aria-selected="false">Favourite Pros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-only navlink-invoices" id="invoices-tab"
                   role="tab" aria-controls="invoices" aria-selected="false">Invoices</a>
            </li>

            <li class="nav-item">
                <a class="nav-link sidebar-only navlink-notifications" id="notifications-tab"
                   role="tab" aria-controls="notifications"
                   aria-selected="false">Notifications</a>
            </li>

        </ul>
    </aside>

    <div class="table-content">

        <div class="tab-content" id="myTabContent">

            <!-- Service History Tab -->
            <div class="tab-pane fade show active" id="servicehistory" role="tabpanel"
                 aria-labelledby="servicehistory-tab">
                <div class="d-flex servicehistory-head">
                    <h2>Service History</h2>
                    <Button id="exportxml">Export</Button>
                </div>
                <table id="mysorttable2" class="table mb-0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm service-details">Service Details</th>
                            <th class="th-sm text-center">Service Provider</th>
                            <th class="th-sm price-head">Price</th>
                            <th class="th-sm status text-center">Status</th>
                            <th class="th-sm text-center noExl">Rate SP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <img src="~/assets/calendar.png" alt="">
                                        <b>@item.ServiceStartDate.ToShortDateString()</b>
                                    </div>
                                    <div>
                                        12:00 - 18:00
                                    </div>
                                </td>
                                <td>
                                    @if (item.ServiceProviderId != null)
                                    {
                                        <div class="service-provider-datatab">
                                            <div class="profile-sp">
                                                <img src="~/assets/cap.png" alt="">
                                            </div>
                                            <div>
                                                <div>@item.FirstName @item.LastName</div>
                                                <div>
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        if (i < ((int)item.Ratings))
                                                        {
                                                            <img src="~/assets/star1.png" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/assets/star2.png" alt="">
                                                        }
                                                    }
                                                    @switch (((int)item.Ratings))
                                                    {
                                                        case 1:
                                                            <span>Very Bad</span>
                                                            break;
                                                        case 2:
                                                            <span>Bad</span>
                                                            break;
                                                        case 3:
                                                            <span>Good</span>
                                                            break;
                                                        case 4:
                                                            <span>Very Good</span>
                                                            break;
                                                        case 5:
                                                            <span>Excellent</span>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <div class="price"> <span>€</span>@item.TotalCost</div>
                                </td>
                                <td>
                                    @if (item.Status == 2)
                                    {
                                        <div class="badge status-complete">Completed</div>
                                    }
                                    else if(item.Status == 3){
                                        <div class="status-incomplete badge">Cancelled</div>
                                    }
                                </td>
                                <td class="rate-btn text-center align-middle noExl">
                                    @if (item.ServiceProviderId != null)
                                    {
                                        <button class="CustomerRateSP" SRid="@item.ServiceRequestId" SPId="@item.ServiceProviderId" rateid="">Rate SP</button>
                                    }
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div style="flex-grow:1"></div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.table2excel.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#mysorttable2').DataTable({
                "aaSorting": [],
                columnDefs: [{
                    orderable: false,
                    targets: [1, 4]
                }]
            });
        });
    </script>

    <script>
        $(function () {
            $("#exportxml").click(function (e) {
                var table = $("#mysorttable2");
                if (table && table.length) {
                    $(table).table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name",
                        filename: "ServiceHistory" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                        fileext: ".xls",
                        exclude_img: true,
                        exclude_links: true,
                        exclude_inputs: true,
                        preserveColors: false
                    });
                }
            });

        });
    </script>

    <script>
        $(document).on("click",".CustomerRateSP",function () {

            $.ajax({
                url: '@Url.Action("_RateSPModal", "Home")',
                type: 'GET',
                contentType: 'application/html; charset=utf-8',
                dataType: 'html',
                data: {
                    srid: parseInt($(this).attr("SRid")),
                    //spid: parseInt($(this).attr("SPId"))
                },
                success: function (res) {
                    $("#RateSPModal .modal-body").html(res);
                    $("#RateSPModal").modal();
                },
                error: function (err) {
                    console.log(err);
                    console.log("Error");
                }
            });

        });
    </script>

    <script>
        var ServiceRequestId = 0, ServiceProviderId = 0;
        $(document).on('click', ".CustomerRateSP", function () {
            ServiceRequestId = $(this).attr("SRid");
            ServiceProviderId = $(this).attr("SPId");
            console.log(ServiceRequestId);
            console.log(ServiceProviderId);
        });

        $(document).on('click', '#rateSP-submitbtn', function () {
            var rate = {};
            rate.Ratings = parseInt(x);
            rate.OnTimeArrival = parseInt(s);
            rate.Friendly = parseInt(t);
            rate.QualityOfService = parseInt(p);
            rate.Comments = $(".comment-in-ratesp").val();
            rate.ServiceRequestId = parseInt(ServiceRequestId);
            rate.RatingTo = parseInt(ServiceProviderId);
            console.log(rate);


            $.ajax({
                url: '@Url.Action("CustomerRateSP", "Home")',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(rate),


                success: function (resp) {
                    alert("SP Rated");
                    $("#RateSPModal").modal("hide");
                    location.reload();
                },
                error: function (err) {
                    console.log(err);
                    alert("Error while inserting data");
                }
            });
        });
    </script>

}

