@model Helperland.Models.CustomModel

@{
    ViewData["Title"] = "SRDashModal";
    Layout = null;
}


<!-- Modals -->

<div class="row">
    <div class="col">
        <div>
            <div><b>@Model.ServiceStartDate.ToShortDateString() <span>08:00 - 11:30</span></b></div>
            <div><b>Duration:</b> @Model.ServiceHours Hrs</div>
        </div>
        <hr>
        <div>
            <b>Service Id:</b>
            <span>@Model.ServiceId</span>
        </div>
        <div>
            <b>Extras:</b>
            @foreach (var item in Model.ServiceExtraId)
            {
                switch (item)
                {
                    case 1:
                        <div>Inside Cabinets</div>
                        break;
                    case 2:
                        <div>Inside Fridge</div>
                        break;
                    case 3:
                        <div>Inside Oven</div>
                        break;
                    case 4:
                        <div>Laundry Wash & Dry</div>
                        break;
                    case 5:
                        <div>Interior Windows</div>
                        break;
                    default:
                        <span></span>
                        break;
                }
            }
        </div>
        <div class="net-amount text-center">
            <b class="float-left">Net Amount:</b>
            <span>@Model.TotalCost €</span>
        </div>
        <hr>
        <div>
            <b>Cleaning Address:</b>
            <span>@Model.AddressLine1 , @Model.AddressLine2 , @Model.City , @Model.PostalCode , @Model.State</span>
        </div>
        <div>
            <b>Service Address:</b>
            <span>Same as Cleaning Address</span>
        </div>
        <div>
            <b>Phone:</b>
            <span>+91 @Model.Mobile</span>
        </div>
        <hr>
        <div>
            <b>Comments</b>:@Model.Comments
            @if (@Model.HasPets)
            {
                <div>I have pets at home.</div>
            }
            else
            {
                <div>I Don't have pets at home.</div>
            }
        </div>
        <hr>
        <div class="action-history-modal">
            <button class="reschedule-upcoming" data-dismiss="modal"
                    data-target="#ServiceHistoryRescheduleModal" data-toggle="modal">
                Reschedule
            </button>
            <button class="cancel-upcoming CancelServiceRequest" id="CancelServiceRequest" data-target="#ServiceHistoryCancelModal" SRid="@Model.ServiceRequestId" data-toggle="modal" data-dismiss="modal">
                Cancel
            </button>
        </div>
    </div>
</div>
